*.ogg
*.aac

node_modules
.DS_Store

*.config.js.timestamp-*.mjs

/games
/libs
.idea

/thing-editor/src/editor/localization-typings.ts
/thing-editor/src/editor/schema-thing-project.json
/thing-editor/src/editor/current-classes-typings.ts
/**/~*
**/.tmp/
/thing-editor/src/editor/prefabs-typing.ts
/thing-editor/src/editor/current-scene-typings.ts
/tsconfig.json
/thing-editor.code-workspace
