#video-sequence {
	border: 1px solid #682e24;
}

.video-sequence-wrapper {
    display: flex;
}

.video-sequence-headers {
	white-space: nowrap;
	text-align: right;
	margin: 20px 0;
	flex-shrink: 1;
    width: 130px;
	overflow-x: hidden;
	max-height: 175px;
}

.video-sequence-header {
	padding: 4px 10px;
}
.video-sequence-header:hover {
	background-color: #333333;
}

.video-sequence-random {
	position: absolute;
    left: -7px;
    top: -7px;
    text-align: center;
	color: #fff;
    width: 20px;
    border-radius: 20px;
    background-color: #5a0056;
}

.video-sequence-header-active {
	background-color: #181818;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.video-sequence-header-playing {
	color: #cc1616;
}

.video-sequence-body {
	white-space: nowrap;
	background-color: #181818;
	flex-grow: 1;
	overflow-y: hidden;
	border-radius: 20px;
	padding: 10px;
    padding-top: 30px;
	position: relative;
}

.video-sequence-body button {
	vertical-align: top;
}

.video-sequence-item-wrapper {
	display: inline-block;
	position: relative;
}

.video-sequence-item {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	padding: 0;
	margin-right: 3px;
	background-color: #222222;
	border-radius: 20px;
	display: inline-block;
	border: 1px solid #000000;
	position: relative;
}

.video-sequence-action-time-pointer {
	position: absolute;
	left: -1px;
	bottom: 10px;
	height: 50px;
	border-left: 1px solid #333333;
}

.video-sequence-action-active .video-sequence-action-time-pointer {
	border-left: 1px solid #eb8000;
}

.video-sequence-item-name {
	padding-left: 10px;
	position: absolute;
	top: 10px;
}

.video-sequence-action {
	position: absolute;
	width: 8px;
	height: 20px;
	border: 1px solid #333333;
	cursor: ew-resize;
	background-color: #c1c1c1;
}

.video-sequence-action-empty {
	background-color: #cc1616;
}

.video-sequence-action img {
    pointer-events: none;
}

.video-sequence-action-active {
	border: 1px solid #eb8000;
}

.video-sequence-action:hover {
	background-color: #d1d1d1;
}

.video-sequence-item-loop {
    position: absolute;
    left: 4px;
    bottom: 0px;
    border-left: 3px solid #339955;
    padding-left: 4px;
    font-size: 70%;
    color: #339955;
}

.video-sequence-item-active {
	cursor: ew-resize;
	border: 1px solid #eb8000;
}

.video-sequence-item-invalid {
	border: 1px solid #cc1616;
	color: #cc1616;
}

.video-sequence-item-props-editor {
	padding: 10px;
	flex-shrink: 1;
}

.video-sequences-actions-body {
	position: absolute;
	left: 0;
	top: 40px
}
